@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #3fb5b6;
    --cor1: #1e1e26;
    --cor2: #14141c;

    --fonte0: Arial, Helvetica, sans-serif;
}

/*
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--cor1);
    text-align: center;
    height: 130px;
}

header > img {
    max-width: 135px;
    padding-right: 80px;
    margin-left: 10px;
}

header > nav > a {
    padding-right: 25px;
    color: white;
    font-family: var(--fonte0);
    text-decoration: none;
    font-weight: bold;
}

#search-form {
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 30px; 
}

#search-box {
    background-color: transparent;
    padding: 5px;
}

.search-button {
    padding: 8px 13px;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: var(--cor0);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#sub-menu {
    display: flex;
    background-color: var(--cor2);
    height: 65px;
}

#sub-menu > img {
    max-width: 60px;
    margin-left: -450px;
    
}

#sub-menu > a {
    color: var(--cor0);
    text-decoration: none;
    padding-left: 60px;
    font-family: var(--fonte0);
    font-size: 0.9em;
}

body {
    background-color: var(--cor1);
}

section {
    font-family: var(--fonte0);
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 100px;
   
}

.imagem {
    padding-top: 8vh;
    padding-bottom: 8vh;
}

section > a > img {
   max-width: 550px;
   padding: 20px;
   border-radius: 30px;

}

section > h2 {
    font-family: var(--fonte0);
    color: var(--cor0);
    font-size: 3em;
}

#subtitles {
    display: flex;
    justify-content: left;
    align-items: left;
    max-height: 120px;
    
}

#subtitles > h1 > a {
    text-decoration: none;
    font-size: 1.2em;
    max-width: 700px;
    color: white;
}

#subtitles > p > a {
    font-weight: bolder;
    color: var(--cor0);
    font-size: 1.2em;
    padding-right: 300px;
    padding-left: 70px;
    text-decoration: none;
}

ul {
    display: block;
    padding-top: 35px;
    max-width: 400px;
}

ul > li {
    padding-bottom: 15px;
}

ul > li > a {
    font-family: var(--fonte0);
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.74);
}

section.imagem {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
    background-attachment: fixed;
}

section#img01 {
    background-image: url(../imagens/transferir.jpg);
    background-position: left center;
    background-size: cover;
}

section#img02 {
    background-image: url(https://images2.alphacoders.com/467/467368.jpg);
    background-position: right center;
    background-size: cover;
}

section#login {
    background-color: var(--cor2);
    width: 380px;
    height: 215px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.425);
}

section#login > div#forumlario {
    display: block;
}

div#formulario > h1 {
    font-size: 2.5em;
    padding-bottom: 10px;
}

div#formulario > p {
    max-width: 400px;
    padding-bottom: 15px;
}

form > div.campo {
    background-color: var(--cor0);
    border: 2px solid var(--cor0);
    width: 90%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px;
} 

*/


